# Ignore virtual environment directory
venv/
.DS_Store

# Ignore Python bytecode/cache files
__pycache__/
*.pyc
*.pyo


#ignore large data files
data/fire_incidents.csv
data/processed_fire_incidents.csv
data/property_assessment.csv